<section id="about" ng-controller="app.views.about as vm">
    <h1>Gabriel Coppini - <a href="mailto:gabriel.coppini@gmail.com">gabriel.coppini@gmail.com</a> - <a href="https://br.linkedin.com/in/coppinigabriel">https://br.linkedin.com/in/coppinigabriel</a> </h1>
    <p>Eu acredito que uso da tecnologia pode mudar o mundo e a forma como as pessoas vivem, eu gostaria de desenvolver soluções tecnológicas para simplificar e melhorar a vida das pessoas, eliminar burocracia e automatizar e otimizar processos de trabalho.
Já atuei como analista programador, arquiteto de software, desenvolvedor Full-Stack com mais de 12 anos de experiência em projetos de software com ampla variedade de aplicações: automação industrial, WMS, MES, roterização; cálculo incentivo de vendas, cotas de vendas, automação força de vendas, BI, remessa e retorno bancário, boletos bancários, e-learning,fiscal/contábil (SPED/NF-e) entre outras, utilizando as tecnologias: MS-Windows, Linux/Unix, ASP.NET(C#/VB.NET), HTML, JavaScript, CSS, jQuery, API-based protocols (RESTful, JSON, SOAP, XML), VB6, COM+, ASP,
 PHP e banco de dados MySQL, MS-SqlServer e Oracle(PL/SQL), comunicação serial e TCP/IP.
Elaboração de documentação técnica e levantamento de requisitos.
Participação em projetos aderentes ao CMM e metodologias RUP e SCRUM. Tenho especial interesse em lean, highscalability e segurança.

Estou sempre estudando, neste momento, dedicado à: NoSQL Databases, NodeJS e Machine Learning (R)


</p>
</section>

<aside>
    <blockquote>A simplicidade é o último grau de sofisticação.</blockquote>
    <em>Leonardo Da Vinci</em>
</aside>