<section id="about" ng-controller="app.views.home as vm">
       
    <h2>Teste para desenvolvedor FrontEnd / .Net</h2>
    <h3>Objetivo do teste</h3>
    <p>Criar uma aplicação em JavaScript utilizando o Framework Angular acessando a API do GIT.</p>
    <p>Link da documentação ​https://developer.github.com/v3/</p>
    <p>
        Página a ser criada:
        ­ Página de busca ­ ​Serviço Search
        ­ Página do projeto ­ Acessada através do link na página de busca ­ ​Serviço baseado
        no campo url do serviço search
    </p>
    <p>
        Usar:
        ­ masterpage em cshtml ­ para header e footer
        ­ angularjs e javascript
        ­ less/css
        ­ responsividade mínima (apenas um breakpoint mobile a ser escolhido pelo
        candidato) ­ *sem usar frameworks (Bootstrap, Foundation, etc)
        ­ bundle para javascript e css
        ­ usar organização por módulo para os diretórios (Vide o seguinte link em caso de
        dúvida: ​https://scotch.io/tutorials/angularjs­best­practices­directory­structure​),
        pensando nos elementos da tela como componentes reutilizáveis
    </p>
    <p>
        Não usar:
        ­ JQuery
        ­ Bootstrap, Foundation etc
        ­ Outros frameworks
        O que vai ser avaliado?
        <ol>
            ­<li>Padrão de Projeto
            <li>Padrão de Código
            <li>Funcional (Código deve estar rodando)
        </ol>
    </p>
</section>